/* ========== FONT ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./Assets/Images/bg3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid #ffffff33;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px #00000033;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

    form {

        h1 {
            font-size: 36px;
            text-align: center;
        }

        .input-box {
            width: 100%;
            height: 50px; 
            margin: 30px 0;
            position: relative;

            input {
                width: 100%;
                height: 100%;
                background: transparent;
                border: 2px solid #ffffff2c;
                outline: none;
                border-radius: 40px;
                font-size: 16px;
                color: #fff;
                padding: 20px 45px 20px 20px;
                
                &::placeholder {
                    color: #fff;
                }
            }

            i {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
            }
        }

        .remember-forgot {
            display: flex;
            justify-content: space-between;
            font-size: 14.5px;
            margin: -15px 0 15px;

            label {

                input {
                    accent-color: #fff;
                    margin-right: 3px;
                }
            }

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .btn {
            width: 100%;
            background: #fff;
            border: none;
            outline: none;
            height: 45px;
            border-radius: 40px;
            box-shadow: 0 0 10px #0000001c;
            cursor: pointer;
            color: #333;
            font-weight: 600;
        }

        .register-link {
            font-size: 14.5px;
            text-align: center;
            margin: 20px 0 15px;

            p {

                a {
                    text-decoration: none;
                    color: #fff;
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:500px) {

    body {
        padding-inline: 2rem;
    }

    .wrapper {
        padding-inline: 20px;

        form {

            .register-link {
                scale: .8;
            }
        }
    }
}
